.photo-container {
    border-radius: 8px!important;
}

.photo {
    background-color: #0096D0;
}

.card-f {
    background-color: #484D4D!important;
    color: rgb(255, 255, 255);
}

.card-f span {
    color: #959797;
}

.main-card {
    height: 200px;
}